<div>
    <app-navbar></app-navbar>
    <div class="dashboard">
        <div class="dashboard-section">
            <p>{{username}}</p>
            <p>{{role}}</p>
        </div>
        <div class="dashboard-section">
            
            <a routerLink="/create" routerLinkActive="active">Add a product</a>
            <p>Modify/Delete Product</p>
        </div>
        <div  class="dashboard-section">
            <p>
                <a routerLink="/register" routerLinkActive="active">Sign Up Employee</a>
            </p>
            <p></p>
            <p>
                <a routerLink="/sales" routerLinkActive="active">Sales Records</a>
            </p>
        </div>
    </div>
</div>